config.txt
stats.txt
FF_Plot_log.log
CreateExe.txt
venv/
/.venv/
/.idea
Files/__pycache__
Languages/__pycache__
Builder/build/
Builder/dist
Builder/French Farmer Gui.spec
/.github/workflows/release_publish-with.exe.yml
old requierements.txt
